<nav class="navbar">
  <ul class="nav-list">
  <ol><a href="/">Home</a></ol>
  <% if(user) { %>
  <ol><a href="/users/<%=user._id%>/foods">View my Pantry</a></ol>
  <ol><a href="/users">Explore Community</a></ol>
  <ol><a href="/auth/sign-out">Sign Out</a></ol>
  <% } else { %>
  <ol><a href="/auth/sign-in">Sign In</a></ol>
  <ol><a href="/auth/sign-up">Sign Up</a></ol>
  <% } %>
  </ul>
</nav>