<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add A New Recipe</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add A New Recipe</h1>

<form action="/users/<%= user._id %>/foods" method="post">
  <label for="title">Food:</label>
  <input type="text" name="title" id="title" />

  <label for="ingredents">Ingredents:</label>
  <input type="text" name="ingredents" id="ingredents" />

  <label for="notes">Notes:</label>
   <textarea name="notes" id="notes"></textarea>
</form>
  <button type="submit">Add Recipe</button>
  </body>
</html>
