<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Community</title>
</head>
<h1> Welcome To Your Community! </h1>
<body>
     <ul>
        <% users.forEach((user)=>{ %>
            <li>
                <a href="/users/<%= user._id %>/foods/">
                    <%= user.username %>
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>